<footer style="background-color: black; padding-top: 10px;">
    <div class="container">
        <div class="row">            

            <div class="col-4">                               
                <a href="mailto:e@gmail.com?subject=Dietary Query" class="mt-3 mb-5"  style="color: white;">
                    yourmail@gmail.com
                </a>
            </div>
            <div class="col-4">
                <p  style="color: white;" class="copyright-text mb-0">Copyright © Bood Flog ♥ </p>                           
            </div>
            
            <div class="col-3">
                <p style="color: white;">Follow us here:</p>                
                <a style="color: white;" href=""><i class="bi-youtube"></i></a>
                <a style="color: white;" href="" ><i class="bi-facebook"></i></a>
                <a style="color: white;" href="" ><i class="bi-instagram"></i></a>
            </div>  
                      
        </div>
    </div>    
</footer>
